@import "../../global.scss";

.technologies {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 50px;
  }
  .icons {
    height: 100px;

    // max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #405363;
    border-radius: 16px;

    .icon {
      width: 60px;
      @include mobile {
        width: 25px;
        // height: 100px;
      }
    }
  }
}
