@import "../../global.scss";

.technologies {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 24px;
  }
  .icons {
    height: 100px;

    // max-height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 16px;
    @include mobile {
      height: 50px;
      width: 100vw;
    }
    .button {
      background-color: #fff;
      border: transparent;
      cursor: pointer;
    }
    .icon {
      width: 50px;
      @include mobile {
        width: 15px;
        // height: 100px;
      }
    }
  }
}
