@import "../../global.scss";

.about {
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  @include mobile {
    width: 90%;
  }
  .card {
    padding: 32px;
    @include mobile {
      padding: 16px;
    }
    background-color: rgba(6.67, 13.33, 20, 0.5);
    color: #f7efef;
    border-radius: 16px;
  }
  p {
    font-size: 1.1rem;
    opacity: 100%;
  }
  h1 {
    font-size: 3rem;
  }
}
.trophybounce {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 0.5s infinite;
  animation-direction: alternate;
  @keyframes bounce {
    0% {
      transform: translatey(-2px);
    }

    100% {
      transform: translatey(2px);
    }
  }
}
