@import "../../global.scss";

.about {
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-weight: 100;
  @include mobile {
    width: 90%;
  }
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
}
