@import "../../global.scss";

.intro {
  height: 100vh;

  .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // animation: shimmy 10s infinite;
    // animation-direction: alternate;
    // @keyframes shimmy {
    //   0% {
    //     transform: translate(0, 0);
    //   }
    //   100% {
    //     transform: translate(50%);
    //   }
    // }

    h1 {
      font-size: 60px;
      margin: 10px 0;
      color: #efd033;

      @include mobile {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 35px;
      color: skyblue;

      @include mobile {
        font-size: 20px;
      }
    }
    h3 {
      color: skyblue;
      font-size: 30px;

      p {
        @include mobile {
          font-size: 20px;
        }
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      .arrow {
        font-size: 50px;
        color: white;
        animation: arrowBlink 2s infinite;
      }
    }
    @keyframes arrowBlink {
      50% {
        opacity: 0;
      }
    }
  }
}
