@import "../../global.scss";

.intro {
  height: 100vh;
  overflow-y: hidden;

  .wrapper {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: go 3s infinite;
    animation-direction: alternate;
    @keyframes go {
      0% {
        transform: translatey(-20px);
      }

      100% {
        transform: translatey(20px);
      }
    }

    h1 {
      font-size: 60px;
      margin: 10px 0;
      color: #efd033;

      @include mobile {
        font-size: 40px;
      }
    }
    h2 {
      font-size: 35px;
      color: #efd033;

      @include mobile {
        font-size: 20px;
      }
    }
    h3 {
      color: skyblue;
      font-size: 30px;

      p {
        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
}
